body {
    font-family: 'Arial', sans-serif;
    background: url("../img/pg3.png") no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    left: 50%;
    justify-content: center;
    color: rgba(255, 255, 255, 0.9);
}
/* 主容器样式 */
main.p-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 350px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    background: rgba(50, 50, 50, 0.2);
}

/* 表单样式 */
form {
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    height: 35px;
    width: 250px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: 0.2s;
    outline: none;
    padding: 0 10px;
    letter-spacing: 1px;
}

.error-message {
    color: rgba(208, 126, 174, 0.7);
    margin-top: 5px;
}

/* 按钮样式 */
button.btn.btn-primary {
    padding: 10px 20px;
    background-color: rgba(208, 126, 174, 0.7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    left: 50%;
    width: 250px;
}

button.btn.btn-primary:hover {
    background-color: rgba(208, 126, 174, 0.7);
}

.mt-3 .btn-box > a{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.9);
    transition: 0.2s;
    text-decoration: none;
    width: 250px;
    text-align: end;
}

.mt-3 .btn-box > a:hover {
    color: rgba(255, 255, 255, 1);
}