body {
    font-family: 'Arial', sans-serif;
    background: url("../img/pg3.png") no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: rgba(255, 255, 255, 0.9);
}

form {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 350px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    background: rgba(50, 50, 50, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    height: 35px;
    width: 250px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transition: 0.2s;
    outline: none;
    padding: 0 10px;
    letter-spacing: 1px;
}

button {
    width: 90px;
    height: 35px;
    background-color: rgba(208, 126, 174, 0.7);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(208, 126, 174, 0.7);
}
.box .btn-box{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.box .btn-box > a{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.9);
    transition: 0.2s;
    text-decoration: none;
    width: 250px;
    text-align: end;
}

.box .btn-box > a:hover {
    color: rgba(255, 255, 255, 1);
}

.box .btn-box > div{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    margin-top: 20px;
}

.box .btn-box > div > button{
    width: 250px;
    height: 35px;
    border: 1px solid rgba(236, 135, 167, 0.8);
    background: rgba(236, 135, 167, 0.5);
    color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    transition: 0.2s;
}

.box .btn-box > div > button:nth-of-type(2){
    margin-left: 5px;
}

.box .btn-box > div > button:hover{
    border: 1px solid rgba(208, 126, 174, 0.8);
    background: rgba(208, 126, 174, 0.5);

}

.messages {
    margin-top: 20px;
    padding: 10px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    border-radius: 3px;
}

.messages li {
    margin-bottom: 5px;
}
