{% extends 'layout.html' %}

{% block css %}
    <style>
        .card {
            border: 1px solid #ccc; /* 添加外边框 */
            margin-bottom: 20px; /* 卡片之间的间隔 */
            box-shadow: 5px 5px 20px #aaa; /* 添加阴影效果 */
            border-radius: 10px;
        }

        .card-body {
            padding: 15px; /* 增加卡片内部的填充 */
        }

        .card-title {
            font-weight: bold; /* 标题加粗 */
            color: #333; /* 标题颜色 */
        }

        .card-text {
            color: #666; /* 文本颜色 */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
    <p><a class="btn btn-primary btn-lg" style="margin-bottom: 20px" href="/random/chose/">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        再次抽取
    </a></p>
        <div class="row">
        {% if random_object %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">用户：{{ random_object.username }}</h5>
                            <p class="card-text">姓名：{{ random_object.name }}</p>
                            <p class="card-text">年龄：{{ random_object.age }}</p>
                            <p class="card-text">简介：{{ random_object.introduction }}</p>
                            <a href="/blindbox/{{ random_object.id }}/detail/" class="btn btn-primary btn-xs">详 情</a>
                        </div>
                    </div>
                </div>
        {% else %}
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}